
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nurse.css">
</head>
<body>
    <div class="grid-container">
        <header>
            <h1>Dashboard</h1>
        </header>
       
        <aside>
            <nav>
                <ul>
                    <li class="portal-title">
                       
                        <h2> Nurse Portal</h2>
                    </li>

                    <li class="icons">
                        <img src="icons/dashboard.png" alt="Dashboard icon">
                        <span>Dashboard</span>
                    </li>

                    <li class="icons">
                        <img src="icons/search.png" alt="Search Consent icon">
                        <span>Search Consent</span>
                    </li>

                    <li class="icons">
                        <img src="icons/contract.png" alt="Today's Clinic icon">
                        <span>Today's Clinic</span>
                    </li>

                    <li class="icons">
                        <img src="icons/check-list.png" alt="Add Assessment icon">
                        <span>Add Assessment</span>
                    </li>

                    <li class="icons">
                        <img src="icons/writing.png" alt="Manual Entry icon">
                        <span>Manual Entry</span>
                    </li>

                    <li class="icons user">
                        <img src="icons/user.png" alt="User icon">
                        <span>Sara Johnson</span>
                    </li>
                </ul>
            </nav>
        </aside>

        <main>
            <section>sec1</section>
            <section>sec2</section>
            <section>sec2</section>
        </main>
     
    </div>
</body>
</html>