
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nurse.css">
</head>
<body>
    <div class="grid-container">
        <header>header</header>
        <aside>
            <nav>
                <ul>
                    <li>Nurse Portal</li>
                    <li>Dashboard</li>
                    <li>Search Consent</li>
                    <li>Today's Clinic</li>
                    <li>Add Assessment</li>
                    <li>Manual entry</li>
                    
                    <li>Sara Johnson</li>
                </ul>
            </nav>
        </aside>
        <main>
            <section>sec1</section>
            <section>sec2</section>
            <section>sec2</section>
        </main>
     
    </div>
</body>
</html>